
body {
    background-color: #161616;
    font-family: "Work Sans";
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

h1 {
    color: #1da1f2;
}
input,
textarea {
    width: 100%;
    max-width: 400px;
    margin: 0.5rem 0;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background: #1da1f2;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

#tweetLink {
    display: block;
    color: #1da1f2;
    margin-top: 20px;
}

#followLink {
    display: block;
    color: #1da1f2;
    margin-top: 20px;
}

.section {
    margin-top: 2rem;
    width: 100%;
    max-width: 400px;
}
/* nav bar & scroll bar */
nav {
    width: 100%;
    background-color: #0d0d0d;
    padding: 0.2rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center; 
    height: 32px;
}

nav h1 {
    font-size: 1.1rem;
}

nav a {
    text-decoration: none;
    color: white;
}

.gradient-text {
    background: linear-gradient(300deg, #FFFFFF, #ddffce);
    background-clip: text;
    color: transparent;
    text-shadow:
        1px 1px 5px rgba(221, 255, 206, 0.83),
        1px 1px 1px rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background: #acacac;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: #dad7d5;
}